<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense App</title>
    <script src="script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js" integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <form onsubmit="handleSubmit(event)">
        <label for="amount"> Choose expenseamount:</label>
        <input type="number" name="amount" id="amount" class="amount">
        <label for="desc">Choose description:</label>
        <input type="text" name="desc" id="desc">
        <label for="category">Choose a category:</label>
        <select id="category" name="category">
            <option>Fuel</option>
            <option>Rent</option>
            <option>Movie</option>
            <option>Fashion</option>
        </select>
        <button type="submit">Add Expenses</button>
    </form>
    <ol id="data">

    </ol>
    <script src="app.js"></script>
</body>
</html>